<appSettings>
  <add key="ida:AppID" value="17a88241-9c31-4716-ae44-18bd9ecd1f6f" />
  <add key="ida:AppSecret" value="h648Q~uTuCQ.wfDyNXYWNDywDHUZz7ILhjgwhbtK" />
  <add key="ida:RedirectUri" value="https://localhost:44390/" />
  <add key="ida:AppScopes" value="User.Read ChatMessage.Send Chat.ReadWrite User.ReadWrite.All" />
</appSettings>